/* ================================================================= */
/* 
   FOOTER SECTION
*/

.author__section{
   position: fixed;
   bottom: 0;
   padding: .6em;
   z-index: 1;
   width: 100%;
   text-align: center;
   background-color: var(--transparent-white);
}
.author__section > * {
   color: var(--very-dark-blue);
   font-weight: 500;
}
.author__section > .author__spacer {
   margin: 0 4px 0 4px;
}
.author__section, a {
   text-decoration: none;
   transition: .3s ease-out;
}
.author__section > .author__anchor:hover {
   color: var(--blue);
}
/* ================================================================= */
