@import url('main.css');
@import url('footer.css');

:root {
   --dark-magenta: hsl(300, 43%, 22%);
   --soft-pink: hsl(333, 80%, 67%);

   --grayish-magenta: hsl(303, 10%, 53%);
   --light-grayish-magenta: hsl(300, 24%, 96%);
   --white: hsl(0, 0%, 100%);

   --transparent-white: hsla(0, 0%, 100%, 0.75);
}

* {
   padding: 0;
   margin: 0;
   color: var(--grayish-magenta);
   box-sizing: border-box;
}

body {
   min-height: 100vh;
   background-color: var(--white);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-rendering: optimizeSpeed;
   font-family: 'League Spartan', sans-serif;
   font-weight: 400;
}

.visually__hidden {
   border: 0 !important;
   clip: rect(1px, 1px, 1px, 1px) !important;
   -webkit-clip-path: inset(50%) !important;
   clip-path: inset(50%) !important;
   height: 1px !important;
   overflow: hidden !important;
   margin: -1px !important;
   padding: 0 !important;
   position: absolute !important;
   width: 1px !important;
   white-space: nowrap !important;
}