.voting-stars__container {
   list-style: none;
}

.voting__container {
   background-color: var(--light-grayish-magenta);
   margin: 1rem 0;
   border-radius: .5rem;
   padding: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   transition-duration: .3s;
   cursor: pointer;
}
.voting__container:hover {
   background-color: var(--dark-magenta);
}
.voting__container:hover .voting__title {
   color: var(--light-grayish-magenta);
}

.voting__title {
   color: var(--dark-magenta);
   padding: .5rem 0 0 0;
   font-size: 1.2rem;
}

@media (min-width: 1252px) {
   .voting-stars__container {
      width: 100%;
      display: flex;
      flex-direction: column;
   }
   .voting__container {
      width: 80%;
      margin: .5em;
   }
   .voting-stars__container :nth-child(1) {
      align-self: flex-start;
   }
   .voting-stars__container :nth-child(2) {
      align-self: center;
   }
   .voting-stars__container :nth-child(3) {
      align-self: flex-end;
   }
   .voting__container {
      flex-direction: row;
      gap: 2em;
   }
}

@media (min-width: 40rem) and (max-width: 1251px){
   .voting-stars__container {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: min-content;
      align-items: center;
   }
   .voting__container {
      text-align: center;
      min-width: 5em;
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      gap: .8em;
      padding-left: 2em;
      margin: .5em;
   }
   .voting__title {
      font-size: 1em;
      padding: 0;
   }
}